
.username{
    margin-bottom: -2rem;
    margin-left: 15px;
    color: white;
    font-size: 1 rem;
    font-weight: bolder;
}
.message{
    background-color: pink;
    margin: 10px;
    padding: 20px;
         
}
.sent{
    background-color: aqua;
    flex-direction: row-reverse;
    text-align: end;
    float: right;
}
.received{
    background-color: gray;
    float: left;
}