.form{
    position: absolute;
    height: 60px;
    width: 80%;
    font-weight: bold;
    margin-top: 10px;
    
<<<<<<< HEAD
=======
    
    

>>>>>>> e298e4d75157e374a4620e804caa191094e9768a
}
.input{
    width: 80%;
    font-weight: bold;
    background-color: rgb(136, 245, 245);
    padding: 10px;
    border: none;
<<<<<<< HEAD
    box-shadow: 0px 0px 3px gray;
=======
    
    
}
button{
    background-color: rgb(191, 189, 189);
    padding-left: 4px;
    padding-right: 2px;
>>>>>>> e298e4d75157e374a4620e804caa191094e9768a
    margin-bottom: 10px;
    margin-left: 10px;
    
    
}

button{
    margin-left: 10px;
    box-shadow: 0px 0px 3px rgb(116, 114, 114);
}
button:hover{
    background-color: rgb(255, 234, 95);
<<<<<<< HEAD
}
=======

}
>>>>>>> e298e4d75157e374a4620e804caa191094e9768a
